body{
    background:#f4f7fc;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border:none;
    border-radius:12px;
}

.btn{
    border-radius:8px;
}

.navbar{
    margin-bottom:20px;
}

textarea{
    resize:none;
}